


body {background-color: #e77d11;
      font-family: 'Roboto', sans-serif;}

.col-lg-12{
    padding-left: 0 !important;
    padding-right: 0 !important;
    }

.card-body{background-color: #f0e7e7;}

.card-header{background-color: #a1251b;
			 color:#f0e7e7;
	}

.jumbotron{background-color: #a1251b;
	   color:#f0e7e7;
	
	}

table{
    background-color:#f0e7e7;
    width: 100%;
    margin: 0px auto;
    float: none;
	}

.card{border:none;}






